:root{
  /***********Primary************/

--dark-blue: hsl(233, 26%, 24%);
--lime-green: hsl(136, 65%, 51%);
--bright-cyan: hsl(192, 70%, 51%);

/*************Neutral*************/

--grayish-blue: hsl(233, 8%, 62%);
--light-grayish-blue: hsl(220, 16%, 96%);
--very-light-gray: hsl(0, 0%, 98%);
--white: hsl(0, 0%, 100%);
}


/****************** max width *********************/
/***************** devices with width of 320px or less***************************/
@media only screen and (max-width: 320px){
  .about-img-container img{
    margin-top: -15px;
  }
}


/***************** devices with width of 1000px or less***************************/
@media only screen and (max-width: 1000px){
  .scroll-hidden{
    overflow-y: hidden;
  }
  .menu-btn{
    display: flex;
  }
  .menu-btn-burger{
    display: block;
  }

  #nav-btn{
    display: none;
  }
  nav{
    width: calc(100%);
    justify-content: space-between;
    padding: 20px 5%;
  }
  nav svg{
    transform: scale(1);
  }
  nav ul{
    position: fixed;
    top: -500px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: .5s;
    border-radius: 5px;
  }
  nav ul li{
    display: block;
    margin: 10px 0 !important;
  }
  nav ul li a{
    font-weight: 400;
  }
  nav ul li::after{
    display: none;
  }
  nav .mobile-menu-active{
    top: 100px;
  }
}

/***************** devices with width of 1150px or less***************************/
@media only screen and (max-width: 1150px) {
  nav ul li{
    margin: 0 10px;
  }
}


/************* min width ********************/
/***************** devices with width of 500px or more***************************/
@media only screen and (min-width: 500px){
  .about-img-container{
    margin-top: -100px;
  }

  .feature p{
    width: 60%;
  }
  
  .article{
    width: 70%;
  }
}


/***************** devices with width of 700px or more***************************/
@media only screen and (min-width: 700px) {
  .about-img-container{
    margin-top: -175px;
  }

  .features{
    padding: 70px 40px;
  }
  .features-container{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .feature{
    width: 45%;
    margin-bottom: 40px;
  }
  .feature p{
    width: 100%;
  }
  .feature:not(:last-child){
    margin-bottom: 40px;
  }

  .latest-articles{
    background: var(--very-light-gray);
    padding: 80px 40px 100px 40px;
  }
  .articles-container{
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0;
  }

  .article{
    width: 47%;
  }

  footer{
    padding: 40px 0;
  }
}



/***************** devices with width of 1000px or more***************************/
@media only screen and (min-width: 1000px) {
  nav{
    padding: 20px 100px;
  }

  .about-img-container{
    background: url(../images/bg-intro-mobile.svg) no-repeat;
    background-size: cover;
    position: relative;
    /* height: 100%; */
  }
  .about-img-container img{
    display: block;
    width: 90%;
    margin: -240px auto 0  auto;
  }
  .about-info-container p{
    /* margin: 20px 0 30px 0; */
    font-size: 1rem;
    padding: 0 200px ;
    /* color: ar(--grayish-blue); */
    /* font-weight: 500; */
  }

  .features{
    padding: 70px 100px;
  }

  .latest-articles{
    padding: 80px 100px 100px 100px;
  }
  
  footer{
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 100px;
  }
  
  .footer-left{
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 35%;
  }
  .footer-left-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .social-icons-container{
    margin-top: 50px;
    margin-bottom: 0;
  }
  .footer-left-right ul{
    text-align: start;
  }
  .footer-left-right ul li{
    margin-bottom: 0;
  }
  .footer-left-right ul li:not(:last-child){
    margin-bottom: 15px;
  }
  
  .footer-right{
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 55%;
  }
  .footer-right-left ul{
    text-align:start;
  }
  .footer-right-left ul li{
    margin-bottom: 0;
  }
  .footer-right-left ul li:not(:last-child){
    margin-bottom: 15px;  
  }
  .footer-right-right{
    justify-content: center;
    align-items: flex-end;
    margin-top: 0;
  }
  .footer-right-right p{
    margin-top: 40px;
  }
}



/******************devices with width ogf 1100px or more**************************/
@media only screen and (min-width: 1100px) {
  .about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row-reverse;
    padding: 100px 0 0 140px;
    height: 580px;
  }
  .about-img-container{
    margin-top: 0;
    background: url(../images/bg-intro-desktop.svg) no-repeat;
    background-position: bottom left 30px ;
    background-size: cover;
    width: 100%;
    height: 700px;
    position: relative;
    top: -40px;
    /* right: -2%; */
  }

  .about-img-container img{
    height: 700px;
    position: relative;
    right: -18%;
    bottom: -10px;
    margin-top: 30px;
  }
  
  .about-info-container{
    text-align: start;
    width: 50%;
  }

  .about-info-container h1{
    font-size: 2.5rem;
    font-weight: 200;
    /* padding-right: 60px; */
  }
  .about-info-container p{
    padding: 0;
    margin: 20px 0 30px 0;
    font-size: 1rem;
    color: var(--grayish-blue);
    font-weight: 500;
  }

}



/***************** devices with width of 1250px or more***************************/
@media only screen and (min-width: 1250px) {
  nav{
    padding: 20px 140px;
  }

  .features{
    background: var(--light-grayish-blue);
    padding: 70px 140px;
  }
  
  .why-choose-contianer{
    text-align: start;
    margin-bottom: 70px;
  }
  .why-choose-contianer h2{
    padding: 0 0;
  }
  .why-choose-contianer p{
    width: 40%;
  }
  .features-container{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .feature{
    align-items: flex-start;
    width: 23%;
  }
  .feature p{
    text-align: start;
  }

  .latest-articles{
    background: var(--very-light-gray);
    padding: 80px 140px 100px 140px;
  }
  #article-h{
    font-weight: 300;
    text-align: start;
    margin-bottom: 60px;
  }
  .articles-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 0;
  }

  .article{
    width: 23%;
  }
  footer{
    padding: 30px 140px;
  }
}



/*****************devices with width of 1360px or more*****************************/
@media only screen and (min-width: 1360px){
  .about-container{
    height: 580px;
  }
  .about-img-container{
    background-position: bottom left 120px ;
    height: 600px;
    top: -20px;
    right: 0;
  }

  .about-img-container img{
    height: 750px;
    right: -20%;
    bottom: 0px;
    margin-top: -20px;
  }
} 



/***************** devices with width of 1500px or more***************************/
@media only screen and (min-width: 1500px) {
  nav{
    padding: 20px 200px;
  }

  .about-container{
    padding: 100px 0 0 200px;
  }
  .about-img-container{
    background-position: bottom left 140px ;
    height: 600px;
    position: relative;
    top: 30px;
  }

  .about-img-container img{
    height: 750px;
    right: -21%;
    bottom: 0px;
    margin-top: -60px;
  }
  .about-info-container h1{
    font-size: 2.3rem;
    font-weight: 200;
    padding-right: 60px;
  }
  .about-info-container p{
    padding-right: 40px;
    margin: 20px 0 30px 0;
    font-size: 0.8rem;
    color: var(--grayish-blue);
    font-weight: 500;
  }

  .features{
    padding: 70px 200px;
  }
  .latest-articles{
    padding: 80px 200px 100px 200px;
  }
  footer{
    padding: 30px 200px;
  }
}



/***********************devices with width of 1600px 0r more********************/
@media only screen and (min-width: 1600px){
  .about-container{
    /* padding: 100px 0 0 140px; */
    height: 800px;
  }

  .about-img-container{
    background-position: bottom left 200px;
    width: 140%;
    height: 900px;
    top: -20px;
    right: 0;
  }

  .about-img-container img{
    height: 1000px;
    right: -21%;
    top: 0%;
    margin-top:  0;
  }
}